.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/about/about-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/about/about-bg-desk.png);
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #2a2a2a;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.about-img {
  box-shadow: 8px 8px 16px 0 rgba(110, 97, 97, 0.12);
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
