.events-section {
  @include media(desktop) {
  }
}

.events-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.events-container {
  @include media(desktop) {
  }
}

.events-content-wrapper {
  @include media(desktop) {
  }
}

.events-title {
  @include media(desktop) {
    max-width: 467px;
  }
}

.events-text {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #343434;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 704px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}

.events-img {
  box-shadow: 8px 8px 16px 0 rgba(118, 104, 104, 0.16);
  border-radius: 36px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    border-radius: 64px;
  }
}
