.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  box-shadow: 8px 8px 16px 0 rgba(118, 104, 104, 0.16);
  background: #ffece5;
  border-radius: 36px;
  padding: 40px 16px;

  @include media(desktop) {
  }
}

.features-title {
  margin-bottom: 48px;

  @include media(desktop) {
    max-width: 360px;
    margin-bottom: 72px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}

.features-list-item {
  box-shadow: 8px 8px 16px 0 rgba(118, 104, 104, 0.16);
  background: #feffff;
  border-radius: 40px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 311px;

  &:nth-child(2) {
    background: linear-gradient(180deg, #ffb9a6 0%, #ff653a 100%);
  }

  @include media(desktop) {
    max-width: 272px;
  }
}

.features-img {
  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #0b1820;

  @include media(desktop) {
    font-size: 24px;
  }
}
