.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #343434;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 624px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 32px;
  }
}

.gameplay-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 236px;

  @include media(desktop) {
    max-width: 236px;
  }
}

.gameplay-img-wrapper {
  background: #f2f2f2;
  border-radius: 40px;
  padding: 28px 29px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.gameplay-img {
  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #207453;

  @include media(desktop) {
    font-size: 18px;
  }
}
