.gameplay-events-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/gameplay/gameplay-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/gameplay/gameplay-bg-desk.png);
    background-position: bottom left;
  }
}

.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  margin-bottom: 48px;

  @include media(desktop) {
    margin-bottom: 72px;
    max-width: 360px;
  }
}

.gameplay-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 64px;
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    gap: 16px;
    max-width: 640px;
  }
}

.gameplay-list-item {
  box-shadow: 8px 8px 16px 0 rgba(118, 104, 104, 0.16);
  background: #fff;
  border-radius: 12px;
  padding: 22px 16px 22px 22px;
  display: flex;
  align-items: center;
  gap: 22px;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: #0b1820;

  @include media(desktop) {
    font-size: 24px;
  }
}

.gameplay-icon {
  min-width: 36px;

  @include media(desktop) {
  }
}
