<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <h2 class="section-title about-title">Adventure</h2>
        <p class="about-text">
          In Slam Clash!, you'll travel through all kinds of crazy zones,
          flipping caps as you go — from bustling urban arenas to whimsical
          fantasy lands. Each zone contains unique challenges, surprises, and
          cap-flipping stages that you'll need quick reflexes, perfect timing,
          and some creative thinking.
        </p>
        <ul class="about-list">
          <li class="about-list-item">
            <picture>
              <source
                srcset="./img/about/about-img1-desk.png"
                media="(min-width: 1440px)"
                width="416"
                height="555" />
              <source
                srcset="./img/about/about-img1-mob.png"
                width="343"
                height="450" />
              <img
                class="about-img"
                src="./img/about/about-img1-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="450"
                loading="lazy"
            /></picture>
          </li>
          <li class="about-list-item">
            <picture>
              <source
                srcset="./img/about/about-img2-desk.png"
                media="(min-width: 1440px)"
                width="416"
                height="555" />
              <source
                srcset="./img/about/about-img2-mob.png"
                width="343"
                height="450" />
              <img
                class="about-img"
                src="./img/about/about-img2-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="450"
                loading="lazy"
            /></picture>
          </li>
          <li class="about-list-item">
            <picture>
              <source
                srcset="./img/about/about-img3-desk.png"
                media="(min-width: 1440px)"
                width="416"
                height="555" />
              <source
                srcset="./img/about/about-img3-mob.png"
                width="343"
                height="450" />
              <img
                class="about-img"
                src="./img/about/about-img3-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="450"
                loading="lazy"
            /></picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
