<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <h2 class="section-title about-title">Explore</h2>
        <p class="about-text">
          You'll find yourself exploring these gorgeous boards we've designed -
          each one's got its own personality. Each board reveals new adventures,
          mini-games, secret areas, and hidden treasures to discover. Players
          make strategic decisions as they navigate dice rolls and pathways,
          racing or teaming up with others along the way.
        </p>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="490" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="296" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="296"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
