<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <img
          class="contact-img"
          src="./img/contact/contact-img.png"
          alt="Screenshot of the game"
          width="198"
          height="199"
          loading="lazy"
        />
        <div class="contact-text-wrapper">
          <h2 class="contact-title">Contact</h2>
          <p class="contact-text">Support and questions</p>
          <a href="mailto:info@levelzone.site" class="contact-link">
            <span class="contact-btn-span">info@levelzone.site</span>
            <svg class="arrow-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-email"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
