<section class="section events-section" id="events">
  <div class="events-bg-wrapper">
    <div class="container events-container">
      <div class="events-content-wrapper">
        <h2 class="section-title events-title">Clubs & Events</h2>
        <p class="events-text">
          There's tons of ways to connect with other players — form or join
          clubs with friends and compete in leagues to earn massive prizes. You
          can't just go it alone - working together and thinking ahead really
          pays off, and we're always adding new seasonal stuff to keep things
          interesting and competitive leaderboards.
        </p>
        <picture>
          <source
            srcset="./img/events/events-img-desk.png"
            media="(min-width: 1440px)"
            width="864"
            height="576" />
          <source
            srcset="./img/events/events-img-mob.png"
            width="343"
            height="229" />
          <img
            class="events-img"
            src="./img/events/events-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="229"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
