<section class="section events-section" id="events">
  <div class="events-bg-wrapper">
    <div class="container events-container">
      <div class="events-content-wrapper">
        <h2 class="section-title events-title">Events & Community</h2>
        <p class="events-text">
          Slam Clash! thrives on community engagement — form teams, complete
          daily missions, trade treasures, and take part in limited-time events.
          With players competing worldwide and tons of social features, you'll
          never run out of stuff to do.
        </p>
        <picture>
          <source
            srcset="./img/events/events-img-desk.png"
            media="(min-width: 1440px)"
            width="1312"
            height="895" />
          <source
            srcset="./img/events/events-img-mob.png"
            width="343"
            height="167" />
          <img
            class="events-img"
            src="./img/events/events-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="167"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
