<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <h2 class="section-title features-title">Cap Collection</h2>
        <ul class="features-list">
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img1.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
              loading="lazy"
            />
            <p class="features-item-text">
              Collect hundreds of unique digital caps with fun, quirky, and rare
              designs.
            </p>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img2.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
              loading="lazy"
            />
            <p class="features-item-text">
              Trade caps with friends and players around the globe.
            </p>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img3.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
              loading="lazy"
            />
            <p class="features-item-text">
              Hunt down those rare sets if you want to show off your collection.
            </p>
          </li>
          <li class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img4.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
              loading="lazy"
            />
            <p class="features-item-text">
              Unlock powerful caps through gameplay and events.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
