<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Board Features</h2>
      <div class="features-content-wrapper">
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="608"
            height="595" />
          <source
            srcset="./img/features/features-img-mob.png"
            width="343"
            height="336" />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="336"
            loading="lazy"
        /></picture>
        <ul class="features-list">
          <li class="features-list-item">
            <p class="features-item-text">
              Hundreds of unique interactive boards with satisfying tile
              feedback
            </p>
          </li>
          <li class="features-list-item">
            <p class="features-item-text">
              Themed zones featuring distinct visuals and secret paths
            </p>
          </li>
          <li class="features-list-item">
            <p class="features-item-text">
              Rewards and bonuses naturally embedded in exploration
            </p>
          </li>
          <li class="features-list-item">
            <p class="features-item-text">
              Exciting encounters and events at every turn, keeping the game
              alive
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
