<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <h2 class="section-title gameplay-title">Gameplay</h2>
        <p class="gameplay-text">
          All gameplay is casual and fun, with a strong emphasis on exploration
          and reward discovery.
        </p>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <div class="gameplay-img-wrapper">
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img1.png"
                alt="Screenshot of the game"
                width="68"
                height="68"
                loading="lazy"
              />
            </div>
            <p class="gameplay-item-text">Roll dice to move across boards</p>
          </li>
          <li class="gameplay-list-item">
            <div class="gameplay-img-wrapper">
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img2.png"
                alt="Screenshot of the game"
                width="68"
                height="68"
                loading="lazy"
              />
            </div>
            <p class="gameplay-item-text">Trigger interactive mini-games</p>
          </li>
          <li class="gameplay-list-item">
            <div class="gameplay-img-wrapper">
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img3.png"
                alt="Screenshot of the game"
                width="68"
                height="68"
                loading="lazy"
              />
            </div>
            <p class="gameplay-item-text">
              Collect coins, gems, and rare cards
            </p>
          </li>
          <li class="gameplay-list-item">
            <div class="gameplay-img-wrapper">
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img4.png"
                alt="Screenshot of the game"
                width="68"
                height="68"
                loading="lazy"
              />
            </div>
            <p class="gameplay-item-text">
              Unlock hidden areas and bonus rounds
            </p>
          </li>
          <li class="gameplay-list-item">
            <div class="gameplay-img-wrapper">
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img5.png"
                alt="Screenshot of the game"
                width="68"
                height="68"
                loading="lazy"
              />
            </div>
            <p class="gameplay-item-text">Use boosts and power-ups wisely</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
