<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">Gameplay</h2>
      <div class="gameplay-content-wrapper">
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="gameplay-item-text">
              Classic cap-flipping mechanics with a modern edge.
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="gameplay-item-text">
              Fast-paced slams and skillful flips.
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="gameplay-item-text">Earn coins and unlock upgrades.</p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="gameplay-item-text">
              Work your way up the rankings by nailing those perfect flips.
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="gameplay-item-text">
              The mini-games switch things up so you won't get bored.
            </p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="608"
            height="504" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="215" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="215"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
