<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="252" />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="221"
            height="141" />
          <img
            class="hero-title-img"
            src="./img/hero/hero-title-mob.png"
            alt="Screenshot of the game"
            width="221"
            height="141"
        /></picture>
        <p class="hero-subtitle">Flip, Collect, Clash!</p>
        <p class="hero-text">
          Get really good at flipping caps, hunt down those rare designs, and
          crush your opponents.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.fd.slamclash&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
